<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.DateMapper">
	<select id="findById" resultType="com.example.demo.entity.DateCalc">
        SELECT
            id,
            date_id,
            name,
            plus_year,
            plus_month,
            plus_day
         FROM
            calculation_dates
         WHERE
            id = #{id}
    </select>
	<select id="findAll" resultType="com.example.demo.entity.DateCalc">
        SELECT
            id,
            date_id,
            name,
            plus_year,
            plus_month,
            plus_day
         FROM
            calculation_dates
    </select>
	<insert id="insertOne">
     INSERT into calculation_dates (
            date_id,
            name,
            plus_year,
            plus_month,
            plus_day
      ) 
      VALUES (
           #{dateid},
           #{name}, 
           #{plusyear}, 
           #{plusmonth},
           #{plusday}
      )
    </insert>
	<update id="updateOne">
     UPDATE  calculation_dates
     SET   date_id = #{dateid},
           name = #{name}, 
           plus_year = #{plusyear}, 
           plus_month = #{plusmonth},
           plus_day = #{plusday}
     WHERE   id = #{id}
    </update>
	<delete id="deleteOne">
     DELETE  FROM  calculation_dates
     WHERE   id = #{id}  
    </delete>
</mapper>